body {
    font-family: 'Jeju Gothic', sans-serif;
    margin: 0;
    background-color: rgb(17, 17, 17);
}
article {
    display: flex;
    flex-direction: column;
}
#id {
    max-width: 600px;
    height: auto;
}
.start {
    background-image: url(cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 600px;
    margin: 0% auto;
    color: white
}
.question {
    display: none;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 600px;
    margin: 0% auto;
    color: white
}
#title {
    font-size: 20px;
}
.result {
    background-color: black;
    display: none;
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
}
.progress {
    margin-top: 25%;
    margin-bottom: 100%;
}
.share {
    margin: 0% auto;
    margin-top: 5%;
}
#img {
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
}
#AA {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 185%;
    margin-bottom: 15%;
}
#A {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 13px;
}
#B {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 13px;
}
#link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#buy {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: 1.3px solid #ffffff;
    background-color: rgb(0, 1, 85);
    font-size: 15px;
}
#restart {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(206, 206, 206);
    margin-top: 15px;
    margin-bottom: 4%;
    font-size: 15px;
}
#other {
    margin: 0% auto;
    width: 75%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(206, 206, 206);
    margin-bottom: 5%;
    font-size: 15px;
}
#test {
    text-decoration: none;
    font-size: 15px;
    color: black
}
#made {
    margin: 0% auto;
    color: rgb(228, 228, 228);
    margin-bottom: 5%;
}
#mealkitkorea {
    text-decoration: none;
    font-size: 15px;
    color: white
}
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}